/* GENERAL PAGE */

body{
font-family: Arial;
background:#f2f2f2;
margin:0;
text-align:center;
}

h1{
margin-top:20px;
}


/* STUDENT MENU */

.menu{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
margin-top:30px;
}

.food{
background:white;
padding:15px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.2);
width:200px;
}

.food img{
width:100%;
border-radius:10px;
}

input{
padding:10px;
margin:10px;
width:200px;
border-radius:5px;
border:1px solid #ccc;
}

button{
background:green;
color:white;
border:none;
padding:10px 15px;
margin:5px;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#0b7a0b;
}


/* ADMIN DASHBOARD */

#orders{
max-width:400px;
margin:30px auto;
}

#orders .food{
width:100%;
text-align:center;
}

/* EXTRA SPACE AT BOTTOM FOR MOBILE */

body{
padding-bottom:80px;
}